.departments{
    top: 30%;
    left: 5%;
    position: absolute;
    font-size: 30px;
    
    /* padding: 2px; */
}

.departments li{
    display: list-item;
}

.departments a{
    text-decoration: none;
}