.departments{
    top: 30%;
    left: 5%;
    position: absolute;
    font-size: 30px;
    
}

.departments li{
    /* display: list-item; */
    padding: 8px;
}

.departments a{
    text-decoration: none;
}