@import '../../index.css';

body{
    margin: auto;
}

.navbar{
    background-color: var(--themecolor) ;
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    /* position: absolute; */
    outline: 2px solid red;
    
}


.navbar ul li{
    display: inline-block;


}

.navbar-comp{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: var(--text-color);


}

.logo-sec{
    display: inline-block;
}